<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <% @all_tags.each do |tag| %>
      <a class="btn btn-default btn-sm" href="#<%= tag %>"><%= tag %></a>
    <% end %>
  </div>
</div> 
<% if @untagged != [] %>
  <h4> <span class="label label-info">untagged</span> </h4>
  <span id="contentCheck2">
    <% @untagged.each do |note| %>
      <div class='jumbotron'>
        <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close"><span onclick="deleteDate(this, <%= note.id %>)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <%= raw auto_link(sanitize note.body.gsub(/\n/, '<br />')) %>
      </div>
    <% end %>
  </span>
<% end %>
<% @all_tags.each do |tag| %>
  <h4 id=<%= tag %>> <span class="label label-info"> <%= tag %> </span> </h4>
  <span id="contentCheck">
    <% @hash[tag].each do |values| %>
      <% values.each do |note| %>
        <div class='jumbotron'>
          <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close"><span onclick="deleteDate(this, <%= note.id %>)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          <%= raw auto_link(sanitize note.body.gsub(/\n/, '<br />')) %>
        </div>
      <% end %>
    <% end %>
  </span>
<% end %>
<script>
$('a[href*="#"]').click(function(e) {
  e.preventDefault();
  var target = this.hash;
  $target = $(target);

  $('html, body').stop().animate({
    'scrollTop': $target.offset().top
  }, 900, 'swing', function () {
    window.location.hash = target;
  });
});

function deleteDate(element, id) {
  $(element).closest(".jumbotron").hide('slow', function(){ $(element).closest(".jumbotron").remove(); });
  $.get('/notes/' + id + '/delete_mem');
  setTimeout(function(){check()}, 700);
}

function check() {
  if ($('#contentCheck').children().length === 0) {
    $('#contentCheck').prev().hide("slow");
  }
}
</script>
