<div class="panel panel-default" id="alertspanel">
  <div class="panel-heading">
    Alerts
    <a class="close pull-right glyphicon glyphicon-menu-hamburger" data-toggle="collapse" href="#collapse"></a>
  </div>
  <div class="panel-body collapse in" id="collapse" aria-expanded="true" aria-controls="collapse">
    <% if @tomorrow_dates[0] %>
      <div class="list-group" id="datesList1">
        <% @tomorrow_dates.each do |date| %>
          <div class="list-group-item list-group-item-warning">
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="deleteDate(this, <%= date.id %>)" title="Mark this mem as done and delete it" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBackMore(this, <%= date.id %>)" title="Push this mem back by 3 days" class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBack(this, <%= date.id %>)" title="Push this mem back by a day" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </label>
            <span class="label label-default pull-left date-label">tomorrow</span><%= raw auto_link(date.body.gsub(/\n/, '<br />')) %>
        </div>
        <% end %>
      </div>
    <% end %>
    <% if @today_dates[0] %>
      <div class="list-group" id="datesList2">
        <% @today_dates.each do |date| %>
          <div class="list-group-item list-group-item-success">
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="deleteDate(this, <%= date.id %>)" title="Mark this mem as done and delete it" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBackMore(this, <%= date.id %>)" title="Push this mem back by 3 days" class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBack(this, <%= date.id %>)" title="Push this mem back by a day" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </label>
            <span class="label label-default pull-left date-label">today</span>
            <%= raw auto_link(date.body.gsub(/\n/, '<br />')) %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @late_dates[0] %>
      <div class="list-group">
        <% @late_dates.each do |date| %>
          <div class="list-group-item list-group-item-danger" id="datesList3">
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="deleteDate(this, <%= date.id %>)" title="Mark this mem as done and delete it" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBackMore(this, <%= date.id %>) "title="Push this mem back by 3 days" class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </label>
            <label type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
              <span onclick="pushBack(this, <%= date.id %>)" title="Push this mem back by a day" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </label>
            <span class="label label-default pull-left date-label"><%= date.date_show.to_formatted_s(:short) %></span>
            <%= raw auto_link(date.body.gsub(/\n/, '<br />')) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
